# THIS FILE IS AN EXAMPLE WITH DEFAULT VALUES.
# ADAPT IT ACCORDING TO YOUR NEEDS OR CHANGE DEFAULT VALUES IN THE SECTIONS BELOW

# ENVIRONMENT
# You can change this value (development/production/test)
NODE_ENV=development

# -------- SERVER CONFIG ----------- #

# SERVER PORT
APP_PORT=4000

# -------- PRODUCTION DATABASE CONFIG ---------- #

DB_CLIENT=mysql2
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=node_backend_prod
DB_USER=root
DB_PASSWORD=password


# -------- DEVELOPMENT DATABASE CONFIG ---------- #

DB_CLIENT_DEV=mysql2
DB_HOST_DEV=127.0.0.1
DB_PORT_DEV=3306
DB_NAME_DEV=node_backend_dev
DB_USER_DEV=root
DB_PASSWORD_DEV=password

# -------- TEST DATABASE CONFIG ---------- #

DB_CLIENT_TEST=mysql2
DB_HOST_TEST=127.0.0.1
DB_PORT_TEST=3306
DB_NAME_TEST=node_backend_test
DB_USER_TEST=root
DB_PASSWORD_TEST=password



# ------------------------------------ #

# -------- PASSWORD SECURITY CONFIG ---------- #

# FOR PASSWORD HASHING
SECURITY_PASSWORD_PEPPER=password_pepper

# FOR JWT SECURITY SESSION
SECURITY_SESSION_SECRET=session_secret

# -------- WEB APP LIST OF ALLOWED ORIGIN ---------- #
WEB_APP_ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:3001"]